/* FONTS */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraLight.ttf") format("ttf");
  font-display: auto;
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("ttf");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("ttf");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

/* RESET */
:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif !important;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}
